head
  link(rel='stylesheet', href='/components/highslide/highslide.css')
  script(type="text/javascript", src="/components/highslide/highslide.js")
  script(type='text/javascript').
    wrapperClassName = 'wide-border'
    hs.graphicsDir = '/components/highslide/graphics/'

div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Let's Build Rockets!


.container
  .row
    .col-lg-12
      h1. Test Center 3
      p.
        Test Center 3 was designed primarily as a test setup for the V4 Mark I engine, but will also be compatible for future use.
      br
      
      h3. Test Stand
      p. The test stand is simply a steel prism to mount the engine to.
      <a href="/assets/images/Test Center 3/assembly1.png" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/assembly1.png" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Test Stand Cad Screenshot</div>
      <a href="/assets/images/Test Center 3/test stand1.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/test stand1.jpg" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">The Completed Test Stand</div>
      <a href="/assets/images/Test Center 3/test stand2.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/test stand2.jpg" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Engine Injector Test Fit</div>
      br
      
      h3. Scaffolding
      p. The scaffolding holds the cameras and fire suppression equipment above the test stand.
      <a href="/assets/images/Test Center 3/scaffolding1.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/scaffolding1.jpg" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Painting the Scaffolding</div>
      <a href="/assets/images/Test Center 3/scaffolding2.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/scaffolding2.jpg" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Painting the Scaffolding</div>
      br
      
      h3. Cameras
      p. The cameras will record the test and provide a live view for the remote control center. Some of the cameras were modified to be controlled remotely as well.
      <a href="/assets/images/Test Center 3/camera1.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/camera1.jpg" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">2 of the cameras</div>
      <a href="/assets/images/Test Center 3/camera2.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/camera2.jpg" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Inside of one of the cameras</div>
      <a href="/assets/images/Test Center 3/camera3.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/camera3.jpg" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Camera control and remote view cables</div>
      br
      
      h3. Fire Suppression
      p. The fire suppression system is designed to allow for the remotely operated delivery of water through a series of sprinklers to the test stand and surrounding areas.
      <a href="/assets/images/Test Center 3/fire suppression1.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/fire suppression1.jpg" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Control switches for valves</div>
      <a href="/assets/images/Test Center 3/fire suppression2.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/fire suppression2.jpg" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Control and power cable for valves</div>
      <a href="/assets/images/Test Center 3/fire suppression3.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/fire suppression3.jpg" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Sprinkler valve and sprinkler head</div>
      br
      
      h3. Plumbing
      p. The Test Center plumbing is one of the most difficult parts. It requires a decent amount of math, requires precision cleaning, and is costly.
      <a href="/assets/images/Test Center 3/TS Plumbing Overview.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/TS Plumbing Overview.jpg" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Test Stand Cad Screenshot</div>
      br
      
      h3. Control Electronics
      p. The system is based around the Raspberry Pi and the I2C bus.
      <a href="/assets/images/Test Center 3/sch1.png" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/sch1.png" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">16 Channel I2C ADC Schematic</div>
      <a href="/assets/images/Test Center 3/brd1.png" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/brd1.png" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">16 Channel I2C ADC PCB</div>
      <a href="/assets/images/Test Center 3/osh1_1.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/osh1_1.jpg" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">16 Channel I2C ADC PCB Board from OSHPark</div>
      <a href="/assets/images/Test Center 3/osh1_2.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/osh1_2.jpg" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">16 Channel I2C ADC PCB Board from OSHPark</div>
      <a href="/assets/images/Test Center 3/osh1_3.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/osh1_3.jpg" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">16 Channel I2C ADC PCB Board from OSHPark</div>
      <a href="/assets/images/Test Center 3/sch2.png" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/sch2.png" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Analog Multiplexer Schematic</div>
      <a href="/assets/images/Test Center 3/brd2.png" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/brd2.png" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Analog Multiplexer PCB</div>
      <a href="/assets/images/Test Center 3/sch3.png" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/sch3.png" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Load Cell Amplifier Schematic</div>
      <a href="/assets/images/Test Center 3/brd3.png" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/brd3.png" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Load Cell Amplifier PCB</div>
      <a href="/assets/images/Test Center 3/sch4.png" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/sch4.png" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Relay Driver Schematic</div>
      <a href="/assets/images/Test Center 3/osh4.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/osh4.jpg" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Relay Driver PCB</div>
      <a href="/assets/images/Test Center 3/kill switch.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/kill switch.jpg" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">remote kill switch (the big red button)</div>
      br  
        
      h3. Control Software
      p. The Software for the Test Center runs both the valve sequencer and the data logger. I also worked to try and make a 'pretty' ui, because why not?
      p
        |For more info and code see: 
        a(href='https://github.com/letsbuildrockets/TC-3') GitHub
        |.
      
      <a href="/assets/images/Test Center 3/screenshot1.png" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/screenshot1.png" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">GitHub Repository</div>
      <a href="/assets/images/Test Center 3/screenshot2.png" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/screenshot2.png" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Some Code...</div>
      <a href="/assets/images/Test Center 3/screenshot3.png" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Test Center 3/screenshot3.png" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Test Center Control Interface</div>
      br
      br