head
  link(rel='stylesheet', href='/components/highslide/highslide.css')
  script(type="text/javascript", src="/components/highslide/highslide.js")
  script(type='text/javascript').
    wrapperClassName = 'wide-border'
    hs.graphicsDir = '/components/highslide/graphics/'

div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Let's Build Rockets!


.container
  .row
    .col-lg-12
      h1. Robot Combat
      p
        | We are currently working on a combat robot for the 2016 
        a(href='http://robogames.net') robogames
        | .
      br
      
      h3. Weapon Testing
      p. In order to design our weapon, we did a series of penetration tests. These were conducted by dropping weights from different heights on a spike. The spike was in a concrete guide above the material. Most of these tests were done with on 16ga steel.
      <a href="/assets/images/RobotCombat/penetration1.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/RobotCombat/penetration1.jpg" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">2ft drop of 51 lb weight</div>
      <a href="/assets/images/RobotCombat/penetration2.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/RobotCombat/penetration2.jpg" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">2ft drop of 51 lb weight</div>
      <a href="/assets/images/RobotCombat/penetrationGraph.png" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/RobotCombat/penetrationGraph.png" alt="Highslide JS" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Data Graph</div>
      br
      
      
