doctype
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .title
        h1 My Site
       nav
         ul
           li 
             if(currentURL == '/')
               a(href='/').current Home
             else
               a(href='/') Home
           li
             if(currentURL == '/users/')
               a(href='/users/').current Users
             else
               a(href='/users/') Users
           li
             if(currentURL == '/seeds/')
               a(href='/seeds/').current Seeds 
             else
               a(href='/seeds/') Seeds
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus
