doctype
html
  head
    title #{title} - Let's Build Rockets
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
       h1 Let's Build Rockets
       h2 "A good rule for rocket experimenters to follow is this: always assume that it will explode." - Astronautics, issue 38, October 1937.
       nav
         ul
           li 
             if(currentURL == '/')
               a(href='/').current Home
             else
               a(href='/') Home
           li
             if(currentURL == '/projects')
               a(href='/projects').current Projects
             else
               a(href='/projects') Projects
           li
             if(currentURL == '/updates')
               a(href='/updates').current Updates 
             else
               a(href='/updates') Updates
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus
