extend layout
block content
  h1 Updates & Reflections
  p.
    Every week I will be posting a summary of what has been accomplished for the week. Each month I will post a reflection reviewing my progress the past weeks.
  update
    details
      h2 November 2nd - November 8th
      p
        |Finished design of valve mounting brackets. Also had two successful water tests. One of them was with just kerosene injector orifices, the second was with both. There is a slight misalignment of the injector pairs, but it should not be detrimental to engine performance. 
      h2 November 9th - November 15th
      p
        |Worked on mounting design and ordered more sensors. I have began to work on my website for new documentation. The valve mount designs are done, but I need to kick into gear and make them. Furthermore, the HS might be able to help me out with the cost for some new parts!
      summary
        |November, 2014
    details
      h2 Monthly Reflection
      p
        |My project proposal was accepted and work has begun. The engine and test stand are complete, but I still need to finish plumbing design. Furthermore, The test stand control board needs to be tested. The analog inputs have been left untested. I need to generate I mush more complete parts list for the plumbing so I can have parts for the test scheduled around the beginning of January. I am a little worried about getting this all done in time, so I will be picking up speed on the plumbing and controller. I will be recruiting help on the weekends for assembly. So far, I think I am on track. I just need to get this plumbing done...
      h2 October 26th - November 1st
      p
        |This week I worked mostly on plumbing. I have created most of me design drawings, but still need to lay out the specific parts I need (valves, fittings, hosing, etc). The Engine and Test Stand are complete while software is mostly done. The rest of the Test Center setup needs to be completed. Most of this is plumbing, but still need to do fire suppression and assemble a test crew. I have a lot of work ahead of me!
      summary
        |October, 2014
block sidebar
  .widget
    h1 Widget
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.
