div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Let's Build Rockets!


.container
  .row
    .col-lg-12
      h1.page-header Projects:
      h3. V4 Mark I Engine
      p.
        The V4 Mark I Engine is an uncooled Kerosene and Liquid Oxygen engine.
        
      br
      br
        
      h3. Test Center 3
      p.
        Test Center 3 was designed primarily as a test setup for the V4 Mark I engine, but will also be compatible for future use.
        
    div(ng-include='"bower_components/photoswipe/demo.html"')