div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Let's Build Rockets!

.container
  .row
    .col-lg-12
      h1.page-header Welcome!
  p. The Let's Build Rockets website is still in development. Feel free to browse what is available.