div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Let's Build Rockets!

.container
  .row
    .col-lg-12
      h1. About Us

      p. Let's Build Rockets is a loosely formed formed group of amateurs who are interested in science and engineering. 
      
.footer
    p
    |For info on our site and code see: 
    a(href='https://github.com/letsbuildrockets/launchsite') GitHub
    |.