head
  link(rel='stylesheet', href='/components/highslide/highslide.css')
  script(type="text/javascript", src="/components/highslide/highslide.js")
  script(type='text/javascript').
    wrapperClassName = 'wide-border'
    hs.graphicsDir = '/components/highslide/graphics/'

div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Let's Build Rockets!


.container
  .row
    .col-lg-12
      h1. V4 Mark I Engine
      p. The V4 Mark I rocket engine is a 6061 aluminum uncooled engine designed for use with kerosene and liquid oxygen.
      <a href="/assets/images/V4 Mark I/7.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/V4 Mark I/thumbnails/7_thumb.png" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">V4 Mark I Engine Test Fit</div>
      <a href="/assets/images/V4 Mark I/1.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/V4 Mark I/thumbnails/1_thumb.png" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">V4 Mark I Engine Test Fit</div>
      <a href="/assets/images/V4 Mark I/4.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/V4 Mark I/thumbnails/4_thumb.png" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">V4 Mark I Engine Components</div>
      <a href="/assets/images/V4 Mark I/2.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/V4 Mark I/thumbnails/2_thumb.png" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">V4 Mark I Copper Crush Gasket and Combustion Camber</div>
      <a href="/assets/images/V4 Mark I/3.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/V4 Mark I/thumbnails/3_thumb.png" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">V4 Mark I Injector Head</div>
      <a href="/assets/images/V4 Mark I/5.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/V4 Mark I/thumbnails/5_thumb.png" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">V4 Mark I Copper Crush Gasket and Injector Face</div>
      <a href="/assets/images/V4 Mark I/6.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/V4 Mark I/thumbnails/6_thumb.png" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">V4 Mark I Injector Face</div>
      br
      
      h3. Design Calculations and CAD
      p. The design calculations were quite difficult with my limited experience, but still a great deal of fun. I primarily used Autodesk Inventor for the design of the engine.
      <a href="https://drive.google.com/file/d/0BwFaRrEmPx2yTmF4ZEY1aEw0ZUU/view?usp=sharing" class="highslide" target="_blank">
      <img src="/assets/images/V4 Mark I/thumbnails/Engine Design Calculations_thumb.png" height="150" /></a>
      <a href="https://drive.google.com/open?id=0BwFaRrEmPx2ycFRYTGxkOG9jdG8&authuser=0" class="highslide" target="_blank">
      <img src="/assets/images/V4 Mark I/thumbnails/Injector Face_thumb.png" height="150" /></a>
      br
      
      h3. Machining
      p
        |Most of the machining was done at the 
        a(href='http://connecticuthackerspace.com/') Connecticut Hackerspace
        |. There was a pretty good group of guys there that helped us out with the machining. The tolerances were definitely hard to meet.
      <a href="/assets/images/V4 Mark I/machining/1.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/V4 Mark I/machining/thumbnails/1_thumb.png" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Happy Project Making :)</div>
      <a href="/assets/images/V4 Mark I/machining/2.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/V4 Mark I/machining/thumbnails/2_thumb.png" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Some Lathe Work</div>
      <a href="/assets/images/V4 Mark I/machining/3.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/V4 Mark I/machining/thumbnails/3_thumb.png" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Taping some holes</div>
      <a href="/assets/images/V4 Mark I/machining/4.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/V4 Mark I/machining/thumbnails/4_thumb.png" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Some Lathe Work</div>
      br
      br