div(ng-include='"components/navbar/navbar.html"')


.container
  .row
    .col-lg-12
      h1.page-header Portfolio
      h4. Eric Sims
      br
      
      h3. Connecticut Science Center
      p
        | I have worked at the 
        a(href='http://www.ctsciencecenter.org/') CT Science Center
        | since the summer of my freshman year of high school. There I started off strictly building cool robots to show to visitors, however the program quickly grew.
        
      br

      h3. Movia Robotics
      p
        | Movia Robotics focuses mostly on using robots for education and therapy. I, however, was recruited to help them build an exhibit for 
        a(href='http://www.astc.org') The Association of Science and Technology Centers
        | , an international organization to promote science education. The exhibit is designed to teach children ages 12-16 about biological viruses.
        
      br
      