div(ng-include='"components/navbar/navbar.html"')


.container
  .row
    .col-lg-12
      h1.page-header Portfolio
      h4. Eric Sims
      br
      
      h3. Connecticut Science Center
      p
        | I have been a paid intern at the 
        a(href='http://www.ctsciencecenter.org/' target='_blank') CT Science Center 
        | since the summer of my freshman year of high school. I stated as a part of a group of 12 high school students interested in robotics 
      br
      
      h3. Movia Robotics
      p
        | Movia Robotics focuses mostly on using robots for education and therapy. I, however, was recruited to help them build an exhibit for 
        a(href='http://www.astc.org') The Association of Science and Technology Centers
        | , an international organization to promote science education. This exhibit in particular is designed to teach children ages 12-16 about biological viruses. The exhibit is a game where students have to try and kill the virus by connecting glycoproteins to active sites its outer surface. My goal in this production was to design and build the electronics as well program the game. I had to work with outside companies to manufacture my PCB design and the plastic shell of the virus.
      <a href="/assets/images/Portfolio/virus1.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Portfolio/thumbnails/virus1_thumb.png" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Inside of Exhibit</div>
      <a href="/assets/images/Portfolio/virus2.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/assets/images/Portfolio/thumbnails/virus2_thumb.png" title="Click to enlarge" height="150" /></a>
      <div class="highslide-caption">Inside of Exhibit</div>
      br
      
      h3. PicoCTF
      p
        | I have been a paid intern at the 
        a(href='http://www.ctsciencecenter.org/' target='_blank') CT Science Center 
        | since the summer of my freshman year of high school. I stated as a part of a group of 12 high school students interested in robotics 
      br
      
      h3. Zero Robotics
      p
        | Content coming soon...
      br
      
      h3. FIRST Robotics
      p
        | Content coming soon...
      br
          
      h3. TEDYouth
      p
        | Content coming soon...
      br
            
      h3. YCominator Applicant 2015
      p
        a(href='https://www.ycombinator.com/' target='_blank') YCominator
        |  is most widely known for their 
        a(href='https://news.ycombinator.com/' target='_blank') Hacker News
        | . This is only one small part of what YC does. They have helped over 500 startup companies grow into great companies (i.e. reddit, omgpop, and dropbox). I was a co-founder of Food Pigeon, a small startup idea for the 2015 summer season batch of applicants. Our group was not selected, but this did provide a great experience in the business and software world.
      br
      
      br